{% extends "base.twig" %}
{% block title %} {{ parent() }} Contact {% endblock %}
{% block contenu %}
{% if form.valide is defined %}
    {% if form.valide == true %}
        <div id="liveAlertPlaceholder"></div>
        <script>
            const alertPlaceholder = document.getElementById('liveAlertPlaceholder')
            appendAlert = (message, type) => {
                const wrapper = document.createElement('div')
                wrapper.innerHTML = [
                    `<div class="alert alert-${type} alert-dismissible" role="alert">`,
                    `   <div>${message}</div>`,
                    '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
                    '</div>'
                ].join('')

                alertPlaceholder.append(wrapper)
            }
            appendAlert('Connecté avec succé !', 'success');
        </script>
        <div class="header-login w-100 p-3 align-items-center d-flex">
            <h1>Vous vous êtes connecté avec succé</h1>
            <h1>Connecté en temps que : {{form.email}}</h1>
        </div>
    {% else %}
        <div id="liveAlertPlaceholder"></div>
        <script>
            const alertPlaceholder = document.getElementById('liveAlertPlaceholder')
            appendAlert = (message, type) => {
                const wrapper = document.createElement('div')
                wrapper.innerHTML = [
                    `<div class="alert alert-${type} alert-dismissible" role="alert">`,
                    `   <div>${message}</div>`,
                    '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
                    '</div>'
                ].join('')

                alertPlaceholder.append(wrapper)
            }
            appendAlert('Erreur : {{form.message}}', 'danger');
        </script>
        <div class="header-login w-100 p-3 align-items-center d-flex">
            <div class="card m-auto card-form">
                <h5 class="card-header p-4">Se connecter à Passion apiculture</h5>
                <div class="card-body p-4">
                    <form action="index.php?page=login" method="post" enctype="application/x-www-form- urlencoded">
                        <label for="inputEmail" class="sr-only">Email:</label>
                        <input type="email" id="inputEmail" name="inputEmail" class="form-control" placeholder="Email" required autofocus>
                        <label for="inputPassword" class="sr-only mt-3">Mot de passe:</label>
                        <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Mot de passe" required>
                        <button class="btn btn-lg btn-primary btn-block mt-3" type="submit" name="btLogin">Ce connecter</button>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% else %}
    <div class="header-login w-100 p-3 align-items-center d-flex">
        <div class="card m-auto card-form">
            <h5 class="card-header p-4">Se connecter à Passion apiculture</h5>
            <div class="card-body p-4">
                <form action="index.php?page=login" method="post" enctype="application/x-www-form- urlencoded">
                    <label for="inputEmail" class="sr-only">Email:</label>
                    <input type="email" id="inputEmail" name="inputEmail" class="form-control" placeholder="Email" required autofocus>
                    <label for="inputPassword" class="sr-only mt-3">Mot de passe:</label>
                    <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Mot de passe" required>
                    <button class="btn btn-lg btn-primary btn-block mt-3" type="submit" name="btLogin">Se connecter</button>
                </form>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}